/*Esto es un comentario de CSS puro*/
/****************HEADER*************/
body {
  background-color: black; }

header .navbar-brand {
  font-size: 250%;
  font-family: 'Times New Roman', Times, serif;
  color: pink; }

header .collapse {
  margin-left: 30%; }

header .nav-item {
  font-size: 120%; }

header .nav-item:hover {
  background-color: black;
  border: 1px solid crimson; }

header .icono {
  width: 5%; }
