@import url('https://fonts.googleapis.com/css2?family=Quintessential&display=swap');/*font-family: 'Quintessential', cursive;*/
@import url('https://fonts.googleapis.com/css2?family=Rubik+Beastly&display=swap'); /*font-family: 'Rubik Beastly', cursive;*/
@import url('https://fonts.googleapis.com/css2?family=Neonderthaw&family=Rubik+Beastly&display=swap');/*font-family: 'Neonderthaw', cursive*/
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&display=swap'); /*font-family: 'Dancing Script', cursive;*/
@import url('https://fonts.googleapis.com/css2?family=Supermercado+One&display=swap');/*font-family: 'Supermercado One', cursive;*/


*{padding: 0%;
    margin: 0%;
}

.navbar-brand{
    font-size: 300%;
    font-family: 'Dancing Script', cursive;
    margin-right: 27%;
    margin-left: 3%;

}

.icono{
    width: 4%;
    height: 4%;
}
@media (max-width: 995px){
    .icono{
        display: none;
    }
}

body{
    background-image: url(../Fondos/fondos-negros-gratistodo.com-20.jpg);
}

.nav-item{
    font-size: 110%;
}

h2{
    color: rgb(236, 236, 235);
    margin-top: 2%;
    width: 50%;
    margin-left: 8%;
    font-family: 'Supermercado One', cursive;
    margin-bottom: 2%;

}
.parrafito1{
    color: white;
    margin-left: 8%;

}
.container{
    margin-top: 5%;
    margin-right: 9%;
}




h3{
    color: rgb(197, 190, 190);
    margin-top: 2%;
    margin-left: 8%;
    font-size: 120%
}

.significados{
    color: thistle;
    margin-top: 10%;
    margin-left: 10%;
    width: 100%;
    font-family: 'Supermercado One', cursive;
    padding-top: 2%;
    font-size: 200%;
}

.card{
    margin-left: 5%;
    margin-top:  3%;
    margin-bottom: 10%;
}

section{
    background-image: url(../Fondos/fondos-negros-gratistodo.com-19.jpg);
    margin-top: 5%;

}
.card-text,
.card-title{
    color:rgb(214, 202, 205)
}

footer{
    background-color: rgb(255, 254, 254);
    display: flex;
    justify-content: flex-end;
}
a{
    text-decoration: none;
}

#imagenes{
    margin-bottom: 10%;
}






@media (max-width: 480px){
    .card{
        width: 80%;
        margin-left: 16%;
    }
    .significados{
        margin-left: 20%;
    }
}

@media (mix-width: 481px) and (max-width: 1023px ){
    .container{
        margin-left: 10%;
    }
        
}